@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This application was created with the intent of assisting breeders of crested geckos to keep a clear, concise record of their geckos and breeding projects. I wanted this application to be accessible to both professional and hobbyist breeders, so that the hobby can advance with the best health of all geckos in mind.</p>
