@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <abbr title="Phone">P:</abbr>
    317.440.1313
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:olihu822@gmail.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="instagram.com"></a>
</address>